<launch>

  <arg name="show_rviz" default="true"/>

  <!-- robot visualization in Rviz -->
  <group if="$(arg show_rviz)">
    <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find echo_bot_gazebo)/launch/config/display.rviz"/>
    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find echo_bot_gazebo_control)/config/controller.yaml" command="load"/>
    <!-- load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" 
        type="spawner" ns="echo_bot" output="screen"
        args="joint_state_controller
              diff_drive_controller
              leg_trajectory_controller
              lower_left_leg_position_controller
              lower_right_leg_position_controller
              upper_side_left_leg_position_controller
              upper_side_right_leg_position_controller">
    </node>

    <!-- convert joint states to TF transforms for rviz, etc -->
    <node name="robot_state_publisher" pkg="robot_state_publisher"
          type="robot_state_publisher"
          respawn="false" output="screen" ns="/echo_bot">
    </node>

    <!-- <node name="closed_loop_controller" pkg="closed_loop_controller" type="closed_loop_controller"/> -->
  </group>

</launch>